@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

#browser {
        -moz-box-ordinal-group: 0 !important;
        padding-top: 1px;
}

#nav-bar[inFullscreen],
#TabsToolbar { visibility: collapse !important; }
